.div1 {
  color: white;
  text-align: center;
  height: 45vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
body {
  background: rgb(14, 18, 27);
  background: linear-gradient(
    90deg,
    rgba(14, 18, 27, 1) 0%,
    rgba(13, 30, 50, 1) 32%,
    rgba(25, 42, 62, 1) 52%,
    rgba(32, 49, 69, 1) 68%,
    rgba(23, 31, 44, 1) 97%
  );
}
#datos {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  margin-left: 5vh;
}

/* Estilos para cada tarjeta de juego */
.card {
  flex: 0 1 48%; /* Toma el 48% del ancho del contenedor */
  margin-bottom: 2%; /* Espaciado entre las tarjetas */
}
.card:hover {
  width: 60vh;
  transition: 1.5s;
  background-color: #07080a;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .card {
    flex: 0 1 100%; /* Toma el 100% del ancho del contenedor */
  }
}

.boton1 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 20vh;
  height: 5vh;
  font-size: 1.8vh;
  border-radius: 1vh;
  border: none;
  background-color: rgb(50, 50, 226);
  color: white;
}
.boton1:hover {
  background-color: rgb(9, 9, 189);
  transition: 0.3s;
  width: 25vh;
}
.boton2:hover {
  background-color: rgb(35, 35, 39);
  transition: 0.3s;
  width: 25vh;
}
.boton2 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2vh;
  width: 20vh;
  height: 5vh;
  font-size: 1.8vh;
  border-radius: 1vh;
  border: none;
  background-color: rgb(91, 91, 104);
  color: white;
}
